<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^login$ ceklogin.php [QSA,L]
RewriteRule ^home$ index.php?pages=home [QSA,L]
RewriteRule ^admin$ index.php?pages=admin [QSA,L]
RewriteRule ^about$ index.php?pages=about [QSA,L]
RewriteRule ^signin$ index.php?pages=signin [QSA]
RewriteRule ^signup$ index.php?pages=signup [QSA,L]
RewriteRule ^logout$ index.php?pages=logout [QSA,L]
RewriteRule ^protected$ index.php?pages=protected [QSA,L]
RewriteRule ^user$ index.php?pages=user [QSA,L]
RewriteRule ^dashboard$ index.php?pages=dashboard [QSA,L]
RewriteRule ^404$ index.php?pages=404 [QSA,L]


Options -Indexes
</IfModule>

<FilesMatch “\.(php|php\.)$”>
Order Allow,Deny
Deny from all
</FilesMatch>